{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@classes": "./src/classes",
          "@core": "./src/core"
        }
      }
    ]
  ]
}
