{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@classes": "./src/classes",
          "@controllers": "./src/controllers",
          "@core": "./src/core",
          "@utils": "./src/utils"
        }
      }
    ]
  ]
}
